.sort-bar {
  margin-top: 20px;
  overflow-x: auto;
  min-width: 100%;
  display: flex;
  align-items: flex-start;

  .sort-chips {
    margin-left: 10px;
    padding: 5px;
    display: inline-block;
    color: #a3a3a3;
    font-size: 14px;
    min-width: 75px;
  }
  .sort-chips.active {
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: #404040;
    border-radius: 16px;
  }
}
