@import './../../styles/mixins.scss';

.restaurant-card {
  padding: 16px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1) !important;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  .restaurant-inner-info {
    display: flex;
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: 0.5px solid #e6e6e6;
  }
  .restaurant-content {
    @include ellipsis;
    display: flex;
    flex-flow: column;
    padding: 0 20px;
  }
  .restaurant-title {
    font-weight: bold;
    font-size: 17px;
    color: #404040;
    line-height: 26px;
    margin-bottom: 8px;
  }
  .restaurant-cuisines {
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
    line-height: 20px;
  }
  .restaurant-address {
    @include ellipsis;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #404040;
  }
  .restaurant-additional-info {
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    .restaurant-tags-wrapper {
      width: 50%;
      justify-content: flex-start;
      align-items: flex-end;
      display: flex;
    }
    .restaurant-rate-wrapper {
      width: 50%;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
      }
      .restaurant-rate {
        font-weight: bold;
        font-size: 17px;
        height: 26px;
        color: white;
        background-color: rgb(154, 205, 50);
        width: 40px;
        margin-right: 10px;
        text-align: center;
        border-radius: 4px;
        line-height: 26px;
      }
    }
    .restaurant-tags {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      background: #ebebeb;
      border-radius: 4px;
      text-align: center;
      padding-top: 5px;
      font-weight: 500;
      padding-bottom: 4px;
      padding-right: 8px;
      padding-left: 8px;
      margin-left: 8px;
    }
  }
}
