@import './reset.scss';
@import './mixins.scss';
@import './constants.scss';

@font-face {
  font-family: Yekan;
  src: url('http://fonts.codearena.ir/b/yekan/yekan.eot');
  src: url('http://fonts.codearena.ir/b/yekan/yekan.eot?#iefix') format('embedded-opentype'),
    url('http://fonts.codearena.ir/b/yekan/yekan.woff') format('woff'),
    url('http://fonts.codearena.ir/b/yekan/yekan.ttf') format('truetype');
  font-weight: normal;
}

body {
  font-family: 'Yekan';
  background: #f3f3f3;
  min-width: 300px;
  font-size: 12px;
  color: #505050;
}
input {
  font-family: 'Yekan';
}
