.search-bar {
  position: relative;
  display: flex;
  flex: 1;
  flex-grow: 1;
  input[type='text'] {
    width: 100%;
    background: #fff;
    padding: 0 10px;
    min-width: 300px;
    font-size: 12px;
    color: #505050;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: 0.5px solid #e6e6e6;
    height: 48px;
  }
  .search-icon {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 16px;
    color: gray;
  }
}
